/* style top metaboxes */
#seokey-metabox{
    padding: 0 0 2rem;
    background: #fff;
    box-sizing: border-box;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(17, 24, 39, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-radius: 0.5rem;
    font-family: Roboto, sans-serif;
}
#seokey-metabox .postbox-header{
    background: #063D62;
    color: #fff;
    box-sizing: border-box;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(17, 24, 39, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-radius: 0.5rem;
    padding: 0.5em 0;
}
#seokey-metabox .nav-tab-wrapper {
    position: relative;
    top: 2px;
    z-index: 2;
    border-bottom: 0;
}
#seokey-metabox .nav-tab:first-of-type {
    margin-left: 0;
}
#seokey-metabox *:focus{
    box-shadow: none;
}
#seokey-metabox .dashicons-seokey-lock{
    margin-right:10px;
}
#seokey-metabox .postbox-header *{
    color:#fff !important;
}
#seokey-metabox .description{
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #0677a9;
}


/* end : style top metaboxes */
#seokey-metabox input.large-text{
    width: 100%;
}
.postbox-header .hndle{
    display: inline;
}

.seokey-metabox-tabs {
    display: flex;
    padding-bottom: 10px;

    border-bottom: 1px solid #ddd;
}

.seokey-metabox-tabs li + li {
    margin-left: 10px;
}

.seokey-metabox-tabs li a {
    display: flex;
    justify-content: center;
    align-items: center;
}



#seokey-googlepreview-wrapper{
    max-width:600px;
    background: #fff;
    padding: 1em;
}
#seokey-google-preview .description {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #0677a9;
}

#seokey-googlepreview-url {
    font-size: 14px;
    line-height: 1.3;
    color: #202124;
    font-style: normal;
    -webkit-text-size-adjust: none;
    font-weight: normal;
    font-family: arial,sans-serif;
    padding-bottom: 2px;
    padding-top: 2px;
}
#seokey-googlepreview-title {
    overflow: hidden;
    font-family: arial,sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #1a0dab;
    padding-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
}

#seokey-googlepreview-desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 1.58;
    color: #4d5156;
    font-family: arial,sans-serif;
}

.seokey-googlepreview-private #seokey-googlepreview-title,
.seokey-googlepreview-private div{
    text-decoration-line: line-through;
}
.seokey-googlepreview-private #seokey-googlepreview-wrapper  {
    /*background: #ddd;*/
    /*display: inline-block;*/
    background:repeating-linear-gradient( 45deg, #eee, #eee 10px, #ddd 10px, #ddd 20px )
}


#seokey-metatitle-counter,
#seokey-metadesc-counter {
    margin-left: 26px;
    font-weight: 400;
    font-size: 14px;
}
#metatitle,
#metadesc {
    margin-top: 3px;
    padding: 0.5em;
}
#tab-seokey-metas .seokey-tooltip-icon {
    top: 3px;
    margin-left: 2px;
}
#meta-tags-inputs div:last-child {
    margin-top: 1.5em;
}
#tab-seokey-metas > .seokey-label.has-explanation {
    margin-top: 1em;
}
#tab-seokey-metas > .seokey-label.has-explanation .seokey-tooltip-icon {
    margin-left: 2px;
    top: 4px;
}





.postbox {
    margin: 3em 0 0;
}













#meta-tags-inputs #meta-tags-inputs-textarea {
    width: 100%;
}





























#audit-content-loader {
    display: none;
}

#audit-loader {
    position: absolute;
    display: none;
    left: 50%;
    margin-top: -3.75em;
}

@keyframes ldio-196n3v9fpr3h {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}
.ldio-196n3v9fpr3h div { box-sizing: border-box!important }
.ldio-196n3v9fpr3h > div {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 14px;
    left: 14px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #2aacd6 transparent #2aacd6 transparent;
    animation: ldio-196n3v9fpr3h 1s linear infinite;
}

.ldio-196n3v9fpr3h > div:nth-child(2), .ldio-196n3v9fpr3h > div:nth-child(4) {
    width: 54px;
    height: 54px;
    top: 23px;
    left: 23px;
    animation: ldio-196n3v9fpr3h 1s linear infinite reverse;
}
.ldio-196n3v9fpr3h > div:nth-child(2) {
    border-color: transparent #0a7eaf transparent #0a7eaf
}
.ldio-196n3v9fpr3h > div:nth-child(3) { border-color: transparent }
.ldio-196n3v9fpr3h > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-196n3v9fpr3h > div:nth-child(3) div:before, .ldio-196n3v9fpr3h > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 24px;
    background: #2aacd6;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #2aacd6;
}
.ldio-196n3v9fpr3h > div:nth-child(3) div:after {
    left: -8px;
    top: 24px;
    box-shadow: 64px 0 0 0 #2aacd6;
}

.ldio-196n3v9fpr3h > div:nth-child(4) { border-color: transparent; }
.ldio-196n3v9fpr3h > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}
.ldio-196n3v9fpr3h > div:nth-child(4) div:before, .ldio-196n3v9fpr3h > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 15px;
    background: #0a7eaf;
    border-radius: 50%;
    box-shadow: 0 46px 0 0 #0a7eaf;
}
.ldio-196n3v9fpr3h > div:nth-child(4) div:after {
    left: -8px;
    top: 15px;
    box-shadow: 46px 0 0 0 #0a7eaf;
}
.loadingio-spinner-double-ring-scf81zev4qd {
    width: 70px;
    height: 70px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}
.ldio-196n3v9fpr3h {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.7);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-196n3v9fpr3h div { box-sizing: content-box; }
/* generated by https://loading.io/ */









.task.issue {
    position: relative;
    padding-left: 0.75em;
    font-size: 1.15em;
    line-height: 1.6em;
}
.task.issue span {
    margin-right: 3em;
}
/*li.task.issue::before {*/
/*    content: "";*/
/*    border-color: transparent #2cafd9;*/
/*    border-style: solid;*/
/*    border-width: 0.4em 0 0.4em 0.5em;*/
/*    display: inline-block;*/
/*    left: -2px;*/
/*    position: absolute;*/
/*    top: 6px;*/
/*}*/






/* Main keyword */
#seokey_audit_content_main_keyword_message {
    color: #595959;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 1.05em;
    position: relative;
    padding-left: 28px;
    top: 2px;
}
#seokey_audit_content_main_keyword_message::before {
    background-image: url('../img/task-good.png');
    background-repeat: no-repeat;
    content: " ";
    position: absolute;
    display: block;
    left: 1px;
    top: -4px;
    height: 24px;
    width: 24px;
}
#seokey_audit_content_main_keyword_message.error::before {
    background-image: url('../img/task-error.png');
}
div#metabox-main-keyword-loader {
    display: none;
    position: absolute;
    top: -2em;
    right: 5em;
}
#main-keyword-block{
    position: relative;
}





.description.description-main-keyword {
    margin: 1em 0;
}
#seokey-audit-content-optimisations ul {
    max-width: 1000px;
}
#seokey-audit-content-optimisations .seokey-tooltip-icon {
    right: 2em;
    top: 30%;
}
#seokey-audit-content-optimisations .item-discarded .seokey-tooltip-icon {
    margin-right: 7em;
}
.task.issue {
    display: flex;
    align-items: center;
    padding:1em;
}
.issue-discard.button.button-small.button-secondary:hover::after {
    content: 'PRO';
    position: absolute;
    display: inline-block;
    right: -1.6em;
    padding: 0 0.3em;
    background: #FFCF49;
    color: #0C5D97;
    border-radius: 0.25em;
}
.issue-discard.button.button-small.button-secondary,
.issue-discard-revert.button.button-small.button-secondary {
    margin-left: auto;
}
li.task.issue::after {
    content: "";
    border-color: rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    left: -3px;
    position: absolute;
    bottom: 1px;
    width: 99%;
}
li.task.issue:last-child::after {
    border:0;
}

.metabox-separator {
    overflow: visible;
    padding: 0;
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-top: medium double rgba(0,0,0,0.4);
    color: #333;
    text-align: center;
    margin: 2em 0 1.5em;
}
.description-main-keyword {
    margin: 0 0 2em 0;
}












.seokey-flex{
    display: flex;
    justify-content: space-between;
}
.seokey-flex > span {
    flex-grow: 4;
    padding: 1em 4em 0 0;
    align-self: center;
    width:590px;
}











/* metabox tabs */
.seokey-metabox-tab{
    padding: 2em;
    box-shadow: rgba(32, 33, 36, 0.28) 0 1px 6px;
    display: block;
    background: #EAEAEB;
}
.seokey-wrapper .nav-tab-active,
#seokey-metabox .nav-tab-active,
.seokey-wrapper .nav-tab.nav-tab-active:hover,
#seokey-metabox .nav-tab.nav-tab-active:hover {
    background: #EAEAEB;
}
#seokey-content-audit{
    position: relative;
}
#seokey-audit-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 2em 0;
}
#seokey-audit-content-optimisations {
    margin-top: 3em;
}
#seokey-metabox-figures{
    display: flex;
    margin-top: 0.25em;
    max-width: 900px;
    font-size: 1.2em;
    color: #333;
    font-weight: 900;
}
#seokey-metabox-figures .seokey-whattodo {
    position: relative;
}
#seokey-stats {
    padding: 0.5em 1em 0.25em 0;
}
#seokey-metabox #seokey-stats .description {
    margin: 1em 0 0;
    padding: 0.75em 0 0;
}
#seokey-stats p .seokey-tooltip-icon {
    top: 11px;
}
#seokey-metabox #seokey-stats .description:first-of-type {
    margin: 0;
}
#seokey-metabox #seokey-stats p {
    margin: 0.75em 0;
}
#seokey-metabox-figures div::before{
    font-family: 'dashicons';
    top: 3px;
    left: -1px;
    font-size: 1.1em;
    position: relative;
}
#seokey-metabox-figures .seokey-clics::before{
    content: "\f177";
}
#seokey-metabox-figures .seokey-position::before{
    content: "\f238";
}
#seokey-metabox-figures .seokey-keywords::before{
    content: "\f203";
}
#seokey-metabox-figures .seokey-target::before{
    content: "\f159";
}
#seokey-metabox-figures div {
    flex-grow: 1;
}
.seokey-metatags .accordion-section-content {
    overflow: inherit;
    padding: 0;
    background: #EAEAEB;
}
.seokey-metabox-tab .seokey-label,
#seokey-metatags .seokey-label{
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #0677a9;
}
#tab-seokey-metas > p {
    margin: 0;
}












/* error list */
.issue-critical::before,
.issue-error::before,
.issue-warning::before,
.issue-information::before{
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin-right:1em;
}
.issue-critical::before{
    background-image: url('../img/task-error.png');
}
.issue-error::before,
.issue-warning::before{
    background-image: url('../img/task-warning.png');
}
.issue-information::before{
    background-image: url('../img/task-info.png');
}







/* post type archive only */
.seokey_archives_pages .seokey-metabox-tab{
    padding-bottom: 90px;
    background: #EAEAEB;
}
.seokey_archives_pages  #seokey-metabox .nav-tab-active,
.seokey_archives_pages  #seokey-metabox .nav-tab-active:hover {
    background: #EAEAEB;
}

.seokey_archives_pages .seokey-metabox-tab .button-primary{
    position: absolute;
    left: 1.75em;
    margin-top: 40px;
    font-size: 15px;
}
.seokey_archives_pages #seokey-metabox.wrap {
    padding: 50px 20px 100px;
    background: #fff;
    box-sizing: border-box;
    max-width: 100%;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(17, 24, 39, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-radius: 0.5rem;
    font-family: Roboto, sans-serif;
    margin: 20px 20px 0 0;
    border:0
}
.seokey_archives_pages .nav-tab-wrapper {
    position: relative;
    top: 2px;
    z-index: 2;
}
.seokey_archives_pages .nav-tab {
    margin-left:0
}
.seokey_archives_pages form {
    max-width: 1600px;
    margin: 0 auto;
}
.seokey_archives_pages .seokey-wrapper .nav-tab:hover,
.seokey_archives_pages  #seokey-metabox .nav-tab:hover {
    background: #EAEAEB;
    color: #0A4B78;
}
.seokey_archives_pages .wp-heading-inline::before {
    background-image: url('../img/logo-seo-key-blanc.png');
    background-repeat: no-repeat;
    display: inline-block;
    min-height: 52px;
    height: 52px;
    width: 157px;
    content: " ";
    font-size: 12px;
    padding: 0;
    position: relative;
    top: 2px;
    left: 5px;
    background-size: contain;
}
.seokey_archives_pages .wrap .wp-heading-inline {
    width: 100%;
    font-size: 34px;
    padding: 1em 1em 1.5em 1em;
    background: #063D62;
    color: #fff;
    max-width: 1600px;
    margin: 0 auto 1em;
    box-sizing: border-box;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(17, 24, 39, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-radius: 0.5rem;
    display: block;
}
.seokey_archives_pages #edit-slug-box,
.seokey_archives_pages #edit-slug-box a{
    color: #fff;
}
.seokey_archives_pages .notice {
    color: #333;
}
.seokey_archives_pages .seokey-flex {
    max-width: 1400px;
}
.seokey_archives_pages .wrap h1.wp-heading-inline {
    position: relative;
}
.seokey_archives_pages .wrap h1.wp-heading-inline::after {
    content: " - ";
    position: absolute;
    left: 1em;
    margin-left: 140px;
    margin-top: 0.5em;
}








/* responsive */
@media (max-width: 1360px) {
    .seokey-metabox-tab .seokey-flex {
        display: block;
        margin-top: 1em;
    }
    #meta-tags-inputs #meta-tags-inputs-textarea {
        min-height: 6em;
    }
    #seokey-google-preview {
        display: block;
        margin: 0;
    }
    #seokey-audit-content-optimisations .issue::before {
        width: 34px;
        margin-right: 0.5em;
        background-repeat: no-repeat;
    }
    /*.task.issue > span {*/
    /*    text-indent: 53px;*/
    /*}*/
    .task.issue::before {
        position: absolute;
        top: 16px;
        left: -19px;
    }
    #seokey-audit-content-optimisations .seokey-tooltip-icon:hover > .seokey-tooltip-text.right::after {
        display: none;
    }
    .seokey-tooltip-icon:hover > .seokey-tooltip-text.right {
        right: auto;
        left: 0;
    }
}




/* fix loader colors */
.seokey-spinner::before {
    border-top-color: #EAEAEB;
    border-left-color: #EAEAEB;
}
.seokey-spinner:after {
    border-top-color: #EAEAEB;
    border-left-color: #EAEAEB;
}






/* profil pages */
.profile-php #seokey-metatags,
.user-edit-php #seokey-metatags{
    max-width: 1200px;
}
.profile-php #seokey-metatags .inside,
.user-edit-php #seokey-metatags .inside{
    padding: 2em;
}
.profile-php #seokey-metatags,
.user-edit-php #seokey-metatags {
    margin-top: 4em;
}
.profile-php #seokey-metatags hr,
.user-edit-php #seokey-metatags hr {
    margin-top: 3em;
    border-color: #063D62;
}
.profile-php #seokey-metatags h2,
.user-edit-php #seokey-metatags h2 {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #0677a9;
}
.profile-php #seokey-metatags .form-table th,
.user-edit-php #seokey-metatags .form-table th{
    width: 110px;
}
.profile-php #seokey-metatags .form-table input,
.user-edit-php #seokey-metatags .form-table input{
    padding: 0.5em 1em;
}







/* metabox terms */
#seokey-metatags .accordion-section-title.hndle {
    width: 100%;
    background: #063D62;
    color: #fff;
    max-width: 1600px;
    box-sizing: border-box;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(17, 24, 39, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-radius: 0.5rem;
    display: block;
}
#seokey-metatags .accordion-section-title::after {
    color: #fff;
}



/* Add term metabox */
#col-left .validate .seokey-flex > span {
    padding-right: 1em;
    width:auto;
}
#col-left .validate .seokey-metabox-tab {
    padding: 0.75em;
}

/* Metabox */
@media (max-width: 1130px) {
    .edit-post-meta-boxes-area #seokey-google-preview {
        width: auto;
        padding-right: 1em;
    }
}